* {
    margin: 0;
    padding: 0;
}
body{
    font-size: 20px;
    font-family: sans-serif;
    background: #ccc;
}

.wrapper {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

section:after {
    content: " ";
    display: block;
    clear: both;
}

/* end of common style */

header {
    background: #111;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

header div.logo {
    width: 50%;
    float: left;
}

header nav {
    width: 50%;
    float:right;
}

header div.logo h1 {
    text-align: center;
    font-size: 170%;
    margin: 1%;
}

header div.logo h1 #span1 {
    color: #ff7f50;
    font-style: italic;
}

header div.logo h1 #span2 {
    color: #ccc;
}

header nav ul li a {
    color: #aaa;
}

header nav ul {
    width: 100%;
    margin: 2% auto;
    text-align: center;
}

header nav ul li {
    margin-left: 5%;
    display: inline;
}

header nav ul li a:hover {
    color: #fff;
}

header nav ul li a.active {
    border-bottom: 1px solid #aaa;
}

/* end header */

section.first-section {
    position: relative;
    min-height: 600px;
    background: url(images/bg.jpg) no-repeat 30% 10%;
    background-size: cover;
}

section.first-section h2{
    width: 40%;
    position: absolute;
    left: 30%;
    top: 40%;
    text-align: center;
    color: #ff7f50;
    font-size: 300%;
}

/* end of first section */

section.second-section{
    background: #000;
}

section.second-section form {
    text-align: center;
}

section.second-section form input{
    padding: 5px 10px;
    margin: 2% 0;
    font-size: 90%;
}

section.second-section form input[type="email"]{
    background: #ccc;
}

section.second-section form input:focus{
    background: #eee;
}

section.second-section form input[type="submit"] {
    background: #ff7f50;
    color: #333;
}

section.second-section form input[type="submit"]:hover {
    background: #dd4d20;
}

/* end of second section */

section.third-section img {
    width: 50%;
    float: left;
    padding: 5% 0;
    background: #ccc;
}

footer {
    background: #000;
}

footer p {
    text-align: center;
    padding: 2% 0;
    font-style: italic;
    font-size: 140%;
    color: #ccc;
}